body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.welcome-text {
    text-align: center;
    color: #B35512;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.left-image {
    max-width: 100%; /* Set the maximum width to 100% to make sure it's responsive */
    width: 150px; /* Set the desired width of the image */
    margin-right: 20px;
}

.hover-link {
    color: #3055b3; /* Default link color */
}

.hover-link:hover {
    color: #b833ff; /* New color on hover */
}